.main-intro {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  margin-bottom: 120px;

  @media screen and (max-width: 1023px) {
    margin-bottom: 80px;
    min-height: 629px;
  }

  @media screen and (max-width: 768px) {
    min-height: 640px;
    position: relative;
    margin-bottom: 60px;
  }
}

.main-container {
  padding-top: 192px;
  height: 60vh;
  position: relative;

  @media screen and (max-width: 1023px) {
    padding-top: 148px;
  }
  @media screen and (max-width: 768px) {
    padding-top: 124px;
    position: static;
    height: auto;
  }

  h1 {
    max-width: 950px;
    font-family: $font-accent;
    font-size: 70px;
    font-weight: 600;
    line-height: 75px;
    text-transform: uppercase;

    color: #224479;

    @media screen and (max-width: 1023px) {
      font-size: 50px;
      line-height: 55px;
    }

    @media screen and (max-width: 768px) {
      max-width: 100%;
      font-size: 40px;
      line-height: 45px;
    }
  }

  p {
    max-width: 464px;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    color: #000;
  }
}

.main-intro__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 10px;

  @media screen and (max-width: 1023px) {
    padding-bottom: 80px;
  }

  @media screen and (max-width: 768px) {
    padding-bottom: 0;
    gap: 20px;
  }
}

.main-content__icons {
  display: flex;
  gap: 15px;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  padding-right: 20px;

  @media screen and (max-width: 1023px) {
    right: auto;
    padding-left: 20px;
    padding-right: 0;
    left: 0;
  }

  @media screen and (max-width: 768px) {
    bottom: 40px;
    transform: translateY(0%);
  }

  a {
    display: block;
    width: max-content;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      display: block;
    }
  }
}
